html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background-color: #ecf0f1;
    color: #34495e;
    font-family: "Bitter", serif;
    font-size: 1.6rem;
    height: 100%;
}
@media only screen and (min-width: 1100px) {
    body,
    html {
        overflow-x: hidden;
    }
}
a {
    color: inherit;
    text-decoration: none;
}
nav li {
    display: inline;
    list-style: none;
}
p.current-time {
    font: 400 2.5rem/0.8 'Cookie', Helvetica, sans-serif;
    margin-bottom: 5px;
    padding: 0;
}
.navigation {
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0;
}
.item {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    color: #ffffff;
    display: inline-block;
    font-family: "PT Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin-bottom: 10px;
    margin-right: 8px;
    text-align: center;
    text-transform: uppercase;
    width: 120px;
}
.item-start {
    background-color: #9b59b6;
    border-radius: 4px;
}
.item-start:hover {
    background-color: #3498db;
}
@media only screen and (min-width: 980px) {
    .item {
        font-size: 1.4rem;
        height: 60px;
        letter-spacing: 2px;
        line-height: 60px;
        margin-right: 15px;
        width: 155px;
    }
}
header {
    height: 100vh;
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
    width: 90%;
}
@media only screen and (min-width: 1100px) {
    header {
        height: 100vh;
        padding-top: 100px;
    }
}
div#start-app,
div#filter-s,
div#map-s {
    padding-top: 25px;
}
@media only screen and (min-width: 680px) {
    header,
    div#start-app,
    div#filter-s,
    div#map-s {
        height: 100vh;
        padding-top: 75px;
    }
}
.header-content {
    padding: 50px 0 25px 0;
    text-align: center;
}
.header-content h1 {
    color: #34495e;
    font-family: "PT Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.header-content p {
    font-size: 1.4rem;
    line-height: 1.8;
    margin: 0 auto;
    max-width: 560px;
    padding: 0 0 20px;
}
.header-content::before {
    content: 'mobile';
    display: none;
}
@media only screen and (min-width: 1100px) {
    .header-content {
        backface-visibility: hidden;
        left: 0;
        padding: 0;
        position: absolute;
        text-align: center;
        top: 100px;
        transform: translateZ(0);
        transition: transform 0.6s, opacity 0.6s;
        width: 50%;
    }
    .header-content h1 {
        font-size: 5rem;
    }
    .header-content p {
        font-size: 2rem;
        margin: 0;
        padding: 10px 0 44px;
    }
    .header-content::before {
        content: 'desktop';
    }
}
.set-location:hover,
h2.set-location,
.set-location a:hover {
    color: #16a085;
}
.filter-souvenirs:hover,
h2.filter-souvenirs,
.filter-souvenirs a:hover {
    color: #9b59b6;
}
.manage-souvenirs:hover,
h2.manage-souvenirs,
.manage-souvenirs a:hover {
    color: #2980b9;
}
.steps a {
    color: #34495e;
}
.steps {
    padding: 0;
    right: 0;
    text-align: center;
}
.steps ul {
    list-style-type: none;
}
.steps li {
    font: 400 2.5rem/0.8 'Cookie', Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-bottom: 15px;
}
@media (max-width: 640px) {
    #filter-s + hr,
    #start-app + hr {
        margin-top: 70px;
    }
}
h2 {
    font: 400 2.5rem/0.8 'Cookie', Helvetica, sans-serif;
    font-size: 3rem;
    margin-top: 0px;
    padding-top: 0px;
}
@media only screen and (min-width: 1100px) {
    .steps {
        float: right;
        margin-top: 160px;
        text-align: left;
        width: 50%;
    }
    h2 {
        font-size: 3.5rem;
    }
    .steps li {
        font: 400 4rem/0.8 'Cookie', Helvetica, sans-serif;
        margin-bottom: 40px;
    }
}
input[type=text],input[list],
select {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-family: "PT Sans", sans-serif;
    margin: 8px 0;
    padding: 12px 20px;
    width: 100%;
}
@media only screen and (min-width: 650px) {
    input[type=text],
    input[list],
    select {
        width: 75%;
    }
}
@media only screen and (min-width: 960px) {
    input[type=text],
    input[list],
    select {
        width: 50%;
    }
}
.locate-me,
.submit-location input,
.submit-location button {
    background-color: #16a085;
    background-color: #1abc9c;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 8px 0;
    margin: auto;
    margin-bottom: 8px;
    margin-top: 10px;
    padding: 10px 15px;
    text-transform: uppercase;
    width: 140px;
}
.locate-me:hover,
.submit-location input:hover,
.window input:hover {
    background-color: #2ecc71;
}
@media only screen and (max-width: 640px) {
    .submit-location input {
        width: 75%;
    }
}
@media only screen and (min-width: 640px) {
    .filter-location {
        float: left;
        width: 25%;
    }
    .find-location {
        float: right;
        text-align: center;
        width: 75%;
    }
    #start-app .submit-location {
        display: inline-block;
        width: 35%;
    }
    #start-app .submit-location input {
        float: left;
        width: 85%;
    }
    .locate-me {
        margin-top: 0px;
    }
    #filter-s .submit-location input {
        width: 250px;
    }
}
@media only screen and (min-width: 980px) {
    #filter-s .filter-souvenirs {
        margin-top: -35px;
    }
    #start-app .submit-location input {
        width: 75%;
    }
}
.map,
.souvenirs {
    background-size: cover;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    margin-left: 5px;
    margin-right: 5px;
}
.map {
    height: 232px;
}
div.submit-location {
    padding-top: 10px;
}
#filter-s .submit-location input {
    background-color: #9b59b6;
}
.shadoww {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
#filter-s .submit-location input:hover {
    background-color: #8e44ad;
}
#map-s .map {
    background-size: cover;
    height: 250px;
}
#map-s button {
    background-color: #3498db;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
    margin: auto;
    margin-top: 5px;
}
@media only screen and (min-width: 650px) {
    .find-location {
        width: 65%;
    }
    .filter-location {
        width: 35%;
    }
    .filter-location select {
        width: 85%;
    }
    .filter-location input[list] {
        width: 85%;
    }
}
@media only screen and (min-width: 980px) {
    #map-s button,
    .submit-location input,
    .submit-location button,
    .locate-me {
        font-size: 1.4rem;
        width: 250px;
    }
    .filter-location select {
        width: 75%;
    }
    .filter-location input[list] {
        width: 75%;
    }
}
#map-s button:hover {
    background-color: #2980b9;
}
#map-s p {
    margin: 35px 0 0 35px;
    text-align: center;
}
hr {
    background-image: linear-gradient(to right, rgba(52, 73, 94, 0), rgba(52, 73, 94, 0.75), rgba(52, 73, 94, 0));
    border: 0;
    clear: both;
    height: 1px;
}
/*Souvenir List selectors*/

.souvenirs {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 10px;
    overflow-y: scroll;
    background-color: white;
    height: 450px;
    margin-bottom: 15px;
}
.s_item {
    display: inline-block;
    padding: 0px 5px 5px 5px;
}
input[type=checkbox]:checked+img {
    border: 3px solid rgba(155, 89, 182, 0.5);
}
.s_text {
    color: inherit;
    font-size: 1.5rem;
    margin: 0.25px;
    ;
}
.s_text span {
    color: #9b59b6;
    font-weight: bold;
}
.s_image {
    max-height: 128px;
    margin-top: 15px;
    max-width: 128px;
}
.close {
    background-image: url("Close-icon.png");
    background-repeat: no-repeat;
    bottom: 418px;
    display: none;
    height: 32px;
    left: 462px;
    margin-top: -32px;
    position: relative;
    width: 32px;
}
.expand {
    height: 25px;
    width: 25px;
    bottom: 125px;
    margin-left: -32px;
    margin-right: 16px;
    position: relative;
}

.f_age p,
.f_gender p,
.f_relation p,
.f_date p,
.city-state {
    font-weight: bold;
    color: #34495e;
    font-size: 1.4rem;
}
.f_age input,
.f_gender input {
    font-size: 1.2rem;
}
.f_age,
.f_gender,
.f_relation,
.f_date {
    float: left;
    margin-bottom: 30px;
}
.f_relation {
    margin-bottom: 5px;
}
.f_gender {
    margin-right: 138px;
}
.f_relation {
    margin-right: 45px;
}
.f_date input {
    width: 160px;
}
.apply-filter {
    float: left;
    margin-right: 15px !important;
}
@media only screen and (max-width: 1100px) {
    .f_age,
    .f_gender,
    .f_relation,
    .f_date {
        margin-bottom: 0px;
    }
    .f_age p,
    .f_gender p,
    .f_relation p,
    .f_date p {
        margin-bottom: 5px;
    }
    .f_gender {
        margin-right: 50px;
    }
    .souvenirs {
        margin-top: 25px;
    }
}
