body {
    font-family: 'Roboto', sans-serif;
    color:#34495e;
}
.border_box {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}
.login_f {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 3px;
    font-size: 1.3rem;
    text-align: center;
    padding:15px 0 15px 0;
    border: solid 1px #006D9C;
}
.login_d {
    margin: 30px;
    font-size: 1.2rem;
    color: #2c3e50;
}
.submit {
    background-color: #2c3e50;
    color: #ecf0f1;
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
    width: 100px;
    margin: auto;
    border: solid 1px #006D9C;
}
.login_d input {
    width: 250px;
    height: 40px;
    font-size: 1rem;
    color: #2c3e50;
}
.login_div {
    width: 400px;
    background-color:#ecf0f1;
}
.error_msg{
    color:#FF0000;
    text-align:center;
    font-size:12px;
}